body{
    width: 100%;
    background-color: #fbecec;
    font-family: 'Montserrat', sans-serif;
    
}

.top-container{
    width: 432px;
    background-color: #821752;
    margin : 200px auto;
    text-align: center;
    padding : 10px;
    color: #cffffe;
}

p{
    font-size: x-small;
}

#submit{
    margin : 10px;
    padding: 10px;
}

input{
    margin : 10px;
    padding: 2px 0;

}
