.nav li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    background-color: #1aa6b7;
    padding: 9px;
    color: #fff;
}

.nav{
    margin-top: 0%;
    background-color: #e8e8e8;
    padding : 15px;
}

.nav .nav-content{
    margin-left : 75%;
}
body
{
    width: 100%
}